.font-orbitron {
  font-family: 'Orbitron', sans-serif !important;
}
.font-anton {
  font-family: 'Anton', sans-serif !important;
}
.font-teko {
  font-family: 'Teko', sans-serif !important;
}
.font-chakra {
  font-family: 'Chakra Petch', sans-serif !important;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif !important;
}
.font-bungee {
  font-family: 'Bungee', sans-serif !important;
}
.font-lobster {
  font-family: 'Lobster', sans-serif !important;
}

.font-blackhanger {
  font-family: 'Black Han Sans', sans-serif !important;
}
.font-merriweather {
  font-family: 'Merriweather', sans-serif !important;
}

.font-raleway {
  font-family: 'Raleway', sans-serif !important;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shine {
  animation: shine 5s linear infinite;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

html::-webkit-scrollbar {
  display: none;
}

.rotate-left {
  transform: rotate(-90deg);
}

